<style type="text/css">
  .dev_social_link {
    color: black;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease; /* Optional: for smooth transition */
  }
  .dev_social_link:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1); /* Optional: change on hover */
  }

</style>
<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    anything else here
  </div>
  <!-- Default to the left -->
  <div>
    <small class="mr-2">created by:</small>
    <strong><a href="mailto:tepong32@gmail.com" class="">𝕥𝔼𝕡𝕡𝕪</a></strong> <br>
    <div class="ml-5">
      <a href="https://github.com/tepong32" target="_blank"><i class="fab fa-github dev_social_link"></i></a>
      <a href="https://facebook.com/tepong32" target="_blank"><i class="fab fa-facebook dev_social_link"></i></a>
      <a href="https://twitter.com/tepongdgreat" target="_blank"><i class="fab fa-twitter dev_social_link" ></i></a>
      <a href="https://linkedin.com/in/cristinoagapitojr" target="_blank"><i class="fab fa-linkedin dev_social_link" ></i></a>
    </div>
  </div>


</footer>