{% extends "base.html" %}

{% include 'unauthed/_css.html' %}

{% block content %}
<div class="container">
    <div class="row">
       

        <!-- Bulletin Board for LATEST ANNOUNCEMENTS -->
        <div class="col-lg-8 border">
            <div class="bulletin-board">
                <h3>Latest Announcements</h3>
                <img src="../../media/defaults/bocaue.gif" class="overlay-gif" alt="Overlay GIF">
                {% for position in latest_positions %}
                    <div class="announcement" style="top: {{ position.top }}; left: {{ position.left }};">
                        <a href="{{ position.announcement.get_absolute_url }}">
                            {{ position.announcement|truncatechars:50 }}
                        </a>
                    </div>
                {% endfor %}
            </div>

            <!-- LIST for ALL remaining ANNOUNCEMENTS -->
            <h3>Older Announcements</h3>
            <ul class="list-group">
                {% for announcement in remaining_public %}
                    <li class="list-group-item">
                        <b>{{ announcement.title }}</b> <br>
                        {{ announcement.content|truncatechars:100|safe }}
                        <div class="float-right">
                            <small>by: {{ announcement.user }}</small>
                            <a href="{{ announcement.get_absolute_url }}" class="btn btn-link">Read More</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}