{% extends 'base.html' %}
{% load crispy_forms_tags %}

<style type="text/css">
	.orgPic {
		position: relative;
		width: 550px; /* Set the width of the bulletin board */
		height: 400px; /* Set the height of the bulletin board */
		background-size: cover; /* Cover the entire div */
		background-position: center; /* Center the background image */
		margin: 20px auto; /* Center the bulletin board */
		overflow: hidden; /* Hide overflow if needed */

	}
</style>
{% block content %}

A Dynamic Organizational chart here showcasing Mayor - Department Heads

<br>
{% for person in orgpersonnel %}
<div class="card col-lg-2 col-sm-4">
	<div class="card-header">
		{{person.name}} <br>
		{{person.title}}
	</div>
	<div class="card-body border border-danger">
		<img class="border border-danger" src="{{person.image.url}}" style="
		background-size: cover;
		background-position: center;">
		
	</div>
</div>
{% endfor %}



{% endblock content %}