{% load i18n %}
{% load static %}
{% extends 'base.html' %}

{% block title_ext %} - View Request Status {% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card p-4">
        <h4>{% trans "Reminders" %}</h4>
        <p>{% trans "Please enter your edit code to access your request. Keep this code safe." %}</p>
        <ul>
          <li>{% trans "You can check the status of your request." %}</li>
          <li>{% trans "You may also update your email or upload missing files." %}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-4">
        <h4>{% trans "Access Your Request" %}</h4>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="edit_code">{% trans "Edit Code" %}</label>
            <input type="text" name="edit_code" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary mt-3">{% trans "Submit" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
