{% extends 'base.html' %}
{% load static custom_filters %}

<!-- Users' Profile page -->
<!-- Self-explanatory page...I guess. LOL -->

{% block content %}
  <style type="text/css">
    .modal-lg {
      max-width: 80%;
    }

    .modal-content {
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .modal-header {
      background-color: #f0f0f0;
      border-bottom: 1px solid #ddd;
    }

    .modal-title {
      font-weight: bold;
    }

    .modal-body {
      padding: 20px;
    }

    #image-modal-content {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  </style>
  <div class="row">
      <!-- Profile Image -->
      <div class="card card-primary card-outline col-md-4">
        <div class="card-body box-profile">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
          <div class="text-center">
            <img id="profile-image" class="profile-user-img img-fluid img-circle elevation-5"
           src="{{user.profile.image.url}}"
           alt="User profile picture" style="width: 250px; height: 250px">
          </div>
          
          <h2 class="profile-username text-center">{{user.get_full_name}}</h2>
          <p class="text-sm text-muted text-center"><i>{{user.profile.department}}</i></p>

          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>Dept. Head:</b> <a class="float-right"><b>{{user.profile.department.manager}}</b></a>
            </li>
            <li class="list-group-item">
              <b>Designation</b>
                {% if request.user == user %}
                  <i class="float-right">{{user.profile.designation}}</i>
                {% else %}
                  **</i>
                {% endif %}
            </li>
            <li class="list-group-item">
              <b>SG</b>
                {% if request.user == user %}
                  <i class="float-right">{{user.profile.designation.salary_grade}} - {{user.profile.designation.salary_grade_step}}</i>
                {% else %}
                  <i>**</i>
                {% endif %}
            </li>
          </ul>

          <a href="#" class="btn btn-primary btn-block"><b>{{user.profile.designation.get_salary_amount|currency }}</b></a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- About Me Box -->
      <div class="card card-primary col ml-1">
        <div class="card-header">
          <h3 class="card-title">
            {% if user.first_name and user.last_name != None %}
              {{user.get_full_name.title}} 
              {% if user.username == request.user.username %}
                <small>
                  <a title="Edit profile" class="fa fa-edit text-white" href="{% url 'profile-edit' user.username %}"></a>
                </small>
              {% endif %}
            {% else %}
              --- <small><a title="Edit profile" href="{% url 'profile-edit' user.username %}">
              Please update your profile   </a><i class="fa fa-edit text-success"></i></small>
            {% endif %}
          </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <p>Username: {{user.username}} / Email: {{user.email}}</p>

          <hr>

          <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

          <p class="text-muted">{{user.profile.address}}</p>

          <strong><i class="fas fa-phone-alt mr-1"></i> Phone</strong>

          <p class="text-muted">{{user.profile.contact_number}}</p>

          <hr>

          <!-- Pro'ly, you need to add the Skills attribute to the Profile model. For now, remove this div or just leave this here. -->
          <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

          <p class="text-muted">
            <span class="tag tag-danger">Add "skills" attribute to model</span><br>
            <span class="tag tag-danger">Then use a For-Loop here</span><br>
            <span class="tag tag-danger">To display them</span>

          </p>

          <hr>

          <strong><i class="mr-1"></i>Member since {{ user.date_joined|date:"F Y" }}</strong>
          <hr>
          {% include 'leave_mgt/leave_summary.html' %}
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
  </div> <!-- /.row -->
  


  <!-- modal for Profile Image // don't touch this -->
  <div id="image-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content" title="{{user.username}}">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <img id="image-modal-content" src="" alt="Profile Image" style="width: 100%; height: auto;">
        </div>
      </div>
    </div>
  </div>

{% endblock %}