{% extends 'base.html' %}
{% load static custom_filters %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.is_staff == True %}
		<!-- show the list of all users if user is staff/admin -->
		<small class="bg-success">You are seeing this page because you are a Staff/Admin. <br>
			Normal users will/should not have access to the full user list for it contains confidential details. <br>
			Or maybe they can have access to the list but filters of what info to display will be applied.
		</small> <br>
			Welcome back, <b>{{request.user.username}}!</b> <br>
			<hr>
			{% for department, profiles in department_users.items %}
				<div class="card-title"><b class="text text-primary">{{ department }}</b></div>
				<table class="table">
				<thead class="card-body border border-success">
				  <tr>
				    <th>User</th>
				    <th>Designation</th>
				    <th>Salary Grade</th>
				    <th>Salary Amount</th>
				  </tr>
				</thead>
				<tbody>
				  {% for profile in profiles %}
			        <tr>
			          <td>
			            {% if profile.user.last_name and profile.user.first_name %}
			              <a href="{% url 'profile' profile.user.username %}">{{ profile.user.last_name.title }}, {{ profile.user.first_name.title }}</a>
			            {% else %}
			              <a href="{% url 'profile' profile.user.username %}">{{ profile.user.username }}</a>
			            {% endif %}
			          </td>
			          <td>{{ profile.designation }}</td>
			          <td>{{ profile.designation.salary_grade }}-{{ profile.designation.salary_grade_step }}</td>
			          <td>{{ profile.designation.get_salary_amount|currency }}</td>
			        </tr>
			      {% endfor profile %}
				</tbody>
				</table>
				<br>
				{% endfor department %}
				
				<hr>
				listing all the users <br>
				can be modified to just show who's under who. Like a Manager's views or something  (we'll need to modify url routing for that)<br>
				for now, let's leave this as is. We'll figure-out what to display once everything's working as intended <br>

				Source for SG: <a href="https://www.officialgazette.gov.ph/2024/08/02/executive-order-no-64-s-2024/">Official Gazette</a>
			</div>
		{% else %}
			<!-- This is already working so, good job! -->
			<h3>Sorry, only Staffs/Admins have permissions to view this page.</h3>
			<small><a href="/">Go back</a></small>
		{% endif %}
	{% else %}
		<!-- This is already working so, good job! -->
		<small class="bg-red">User is not authenticated. Please <a href="/login">log-in to</a> view the page.</small>
		<h3>Sorry, you do not have permissions to view this page.</h3>
		<small><a href="/">Go back</a></small>
	{% endif %}
{% endblock %}



{% if user.is_authenticated %}
	{% if user.is_staff == True %}
		<!-- show the list of all users if user is staff/admin -->
		<small class="bg-success">You are seeing this page because you are a Staff/Admin. <br>
			Normal users will/should not have access to the full user list for it contains confidential details. <br>
			Or maybe they can have access to the list but filters of what info to display will be applied.
		</small> <br>
			Welcome back, <b>{{request.user.username}}!</b> <br>

<div class="card card-primary card-outline">
	<div class="card-header">
		<h3 class="card-title">
			<i class="fas fa-edit"></i>
			Vertical Tabs Examples
		</h3>
	</div>
	<div class="card-body">
		<h4>Left Sided</h4>
	{% for department, profiles in department_users.items %}
	<div class="row">
		<div class="col-4 col-sm-3">
			
			<div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
				
				<a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">{{ department }}</a>
				
			</div>
			
		</div>
		<div class="col-8 col-sm-9">
			<div class="tab-content" id="vert-tabs-tabContent">
			<div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
				<table class="table">
				<thead class="card-body border border-success">
				  <tr>
				    <th>User</th>
				    <th>Designation</th>
				    <th>Salary Grade</th>
				    <th>Salary Amount</th>
				  </tr>
				</thead>
				<tbody>
				  {% for profile in profiles %}
			        <tr>
			          <td>
			            {% if profile.user.last_name and profile.user.first_name %}
			              <a href="{% url 'profile' profile.user.username %}">{{ profile.user.last_name.title }}, {{ profile.user.first_name.title }}</a>
			            {% else %}
			              <a href="{% url 'profile' profile.user.username %}">{{ profile.user.username }}</a>
			            {% endif %}
			          </td>
			          <td>{{ profile.designation }}</td>
			          <td>{{ profile.designation.salary_grade }}-{{ profile.designation.salary_grade_step }}</td>
			          <td>{{ profile.designation.get_salary_amount|currency }}</td>
			        </tr>
			      {% endfor profile %}
				</tbody>
				</table>
				
			</div>
		</div>
	</div>
	{% endfor department, profiles %}
</div>


	{% else %} <!-- if is_staff -->
		<!-- This is already working so, good job! -->
		<h3>Sorry, only Staffs/Admins have permissions to view this page.</h3>
		<small><a href="/">Go back</a></small>
	{% endif %}
	{% else %}
		<!-- This is already working so, good job! -->
		<small class="bg-red">User is not authenticated. Please <a href="/login">log-in to</a> view the page.</small>
		<h3>Sorry, you do not have permissions to view this page.</h3>
		<small><a href="/">Go back</a></small>
	{% endif %} <!-- if is_authenticated -->


<hr>
listing all the users <br>
can be modified to just show who's under who. Like a Manager's views or something  (we'll need to modify url routing for that)<br>
for now, let's leave this as is. We'll figure-out what to display once everything's working as intended <br>

Source for SG: <a href="https://www.officialgazette.gov.ph/2024/08/02/executive-order-no-64-s-2024/">Official Gazette</a>