{% load static %}
<h2 class="profile-username text-center">{{viewed_user.get_full_name}}</h2>

{% if request.user == viewed_user %}
  <small class="float-right ml-5">
    <a title="Edit profile" class="fa fa-edit" href="{% url 'profile-edit' viewed_user.username %}"> Edit</a>
  </small>
{% endif %}

<p class="text-sm text-muted text-center">
  {% if viewed_user.employeeprofile %}
    <i>{{ viewed_user.employeeprofile.plantilla }}</i>
  {% else %}
    <i>Citizen User</i>
  {% endif %}
</p>

<p class="text-xs text-muted text-center mb-1">
  <i class="fas fa-id-badge mr-1"></i> Username: <b>{{ viewed_user.username }}</b>
</p>

{% if viewed_user.employeeprofile %}
  <p class="text-xs text-muted text-center mb-1">
    <i class="fas fa-briefcase mr-1"></i> {{ viewed_user.employeeprofile.position_title|default:"Position not set" }}
  </p>
{% elif viewed_user.citizenprofile %}
  <p class="text-xs text-muted text-center mb-1">
    <i class="fas fa-user-circle mr-1"></i> Citizen Profile
  </p>
{% endif %}
