{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="announcement-container">
    <div class="announcement-header">
        <h3 class="announcement-title text-danger text-center p-2">
            {{ announcement.title.title }}
            {% if announcement.user == request.user %}
        <small class="ml-5">
            <b><a href="{% url 'update-announcement' object.slug %}"><i class="fa fa-pencil-alt" title="Update"></i></a></b>
        </small>   
        {% endif %}
        </h3>
        
</div>
<div class="announcement-bg" style="background-image: url('{{ announcement.cover_image.url }}');">
    <p class="announcement-meta">
    <strong>Type:</strong> {{ announcement.get_announcement_type_display }} <br>
    <strong>Created at:</strong> {{ announcement.created_at }} <br>
    <strong>Updated at:</strong> {{ announcement.updated_at }} <br>
    <div>
        <strong>Content:</strong>
        <div>{{ announcement.content|safe }}</div>  <!-- Use safe to render HTML content -->
    </div>
</div>


<a href="/">Back to Home</a>
    
{% endblock content %}
