{% extends 'base.html' %}


{% block content %}
<h3 class="announcement-title text-danger text-center p-2">
    All Announcements (latest first)
</h3>

<div class="border60vh announcement-bg" style="background-image: url('../../media/defaults/jjv.png');">
	<div class="announcement-meta">
		<ul>
			{% for a in announcements %}
			<a href="{% url 'announcement-detail' a.slug %}"><p>{{a.title}}</p></a>
			{% endfor %}
		</ul>
		
	</div>

</div>


<a class="float-right" href="{% url 'unauthedhome' %}">Back to Home</a>
    
{% endblock content %}
