{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<h1 class="announcement-title text-danger text-center p-2">
    {{ announcement.title }}
</h1>
{% if announcement.user == request.user %}
<div class="mr-auto">
    <small>
        <a href="{% url 'update-announcement' object.slug %}">Update</a>
    </small>
</div>
{% endif %}
<div class="announcement-bg" style="background-image: url('{{ announcement.cover_image.url }}');">
    <p class="announcement-meta">
    <strong>Type:</strong> {{ announcement.get_announcement_type_display }} <br>
    <strong>Created at:</strong> {{ announcement.created_at }} <br>
    <strong>Updated at:</strong> {{ announcement.updated_at }} <br>
    <div>
        <strong>Content:</strong>
        <div>{{ announcement.content|safe }}</div>  <!-- Use safe to render HTML content -->
    </div>
</div>


<a href="/">Back to Home</a>
    
{% endblock content %}
