{% extends "base.html" %}

{% block dashboard %}
	{% include 'home/authed/home_dashboard.html' %}
{% endblock%}
{% block content %}
<!-- REAL CONTENT -->
{% if leave_requests.count == 0 %}
  <p> You have not filed for a leave request yet. Don't be shy. Work-Life balance, Man! </p>
{% endif %}


<section>
testing filters: <br>
<br>
{% for profile in profiles %}
	<a href="{% url 'profile' profile.user.username %}"> {{ profile.user.get_full_name}} </a>
	<br>
{% endfor %}
</p>

<hr>
<div>
	<p> leave instances </p>
	approved leaves count: <b>{{approved_leave_count}}</b> <br>
	pending leaves count:	<b>{{pending_leaves_count}}</b>
	<p>
	{% for leave in leave_requests %}
		{{leave.leave_type}} - {{leave.start_date}} to {{leave.end_date}} - <b>{{leave.status}}</b><br>
	{% endfor %}
	</p>
</div>

</section>
{% endblock content %}