{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style type="text/css">
    .modal-lg {
      max-width: 80%;
    }

    .modal-content {
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .modal-header {
      background-color: #f0f0f0;
      border-bottom: 1px solid #ddd;
    }

    .modal-title {
      font-weight: bold;
    }

    .modal-body {
      padding: 20px;
    }

    #image-modal-content {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  </style>
  <div class="row">
    {% include 'profiles/includes/profile_image_block.html' %}
    <div class="card col ml-1">
      <div class="card-body">
        {% include 'profiles/includes/profile_contact_block.html' %}
        <hr>
        <strong><i class="mr-1"></i>Member since {{ viewed_user.date_joined|date:"F Y" }}</strong>
      </div>
    </div>
  </div>

  <!-- Modal for Profile Image -->
  <div id="image-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content" title="{{ viewed_user.username }}">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <img id="image-modal-content" src="" alt="Profile Image" style="width: 100%; height: auto;">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
