{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container col-4" style="padding-top: 1em">
  <!-- FORM STARTS HERE -->
  <form method="POST" enctype="multipart/form-data"> 
    {% csrf_token %} 
    
    <fieldset class="form-group">
      <legend class="border-bottom mb-1">
        Edit your {{ is_employee|yesno:"Employee,Citizen" }} Profile Info
      </legend>
      {% if is_citizen %}
        <div class="alert alert-info small">
          Note: Your profile is limited to contact and address info. For more services, register at the counter or contact your barangay.
        </div>
      {% endif %}

      <small><i>Fields with <span style="color: red;">*</span> are required.</i></small>
      {{ u_form.non_field_errors }}  <!-- Display non-field errors for u_form -->
      {{ p_form.non_field_errors }}  <!-- Display non-field errors for p_form -->

      {% for field in u_form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">
            {{ field.label }}{% if field.field.required %} <span style="color: red;">*</span>{% endif %}
          </label>
          {{ field }}  <!-- Render the field without the label -->
          {% for error in field.errors %}
            <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}

      {% for field in p_form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">
            {{ field.label }}{% if field.field.required %} <span style="color: red;">*</span>{% endif %}
          </label>
          {{ field }}  <!-- Render the field without the label -->
          {% for error in field.errors %}
            <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-success p-2 mb-2" type="submit">
        Save changes
      </button>
    </div>
  </form>
</div>

{% endblock content %}