<div class="row"   style="margin-top: 20px; padding: 5px; background-color:rgb(215, 222, 229);">
    <div class="col-md-3 col-sm-5">
        <h6 class="footer-title">Quick Links</h6>
        
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/announcements">All Announcements</a>
            <li class="nav-item">
                <a class="nav-link" href="#">Downloadable Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Careers</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h6 class="footer-title">Follow our Official Facebook Page</h6>
                </a> 
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-5">
        
    </div>
</div>