<div class="row gov-footer-links">
    <div class="col-md-3 col-sm-5">
        <h6 class="footer-title">Quick Links</h6>
        
        <ul class="nav nav-pills flex-column gov-footer-list">
            <li class="nav-item">
                <a class="nav-link" href="/announcements">All Announcements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Downloadable Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Careers</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h6 class="footer-title">Follow our Official Facebook Page</h6>
                </a> 
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-5">
        
    </div>
</div>
