{#% extends "base.html" %#}
{#% load static crispy_forms_tags %#}


{#% block content %#}


<b>Leave Summary page</b> this is where the dashboard should be

{% if leave_credits %} 
    <p>Your SL Credits (Current Year): {{ leave_credits.current_year_sl_credits }}
        <button class="ml-4">File SL</button></p>
    <p>Your Total SL Credits: <strong>{{ leave_credits.total_sl_credits }}</strong></p>
    
    <p>Your VL Credits (Current Year): {{ leave_credits.current_year_vl_credits }}
        <button class="ml-4">File VL</button></p>
    <p>Your Total VL Credits: 
        {% if leave_credits != 0 %}
            <strong>{{leave_credits.count}} / {{ leave_credits.total_vl_credits }}</strong>
        {% else %}
            <strong>0 / {{ leave_credits.total_vl_credits }}</strong>
        {% endif %}
    </p>
    <p>Special Leaves Taken: {{ leave_credits.speacial_leaves_taken }}</p>
{% else %}
    <p>Leave credits not found. Please contact HR.</p> 
{% endif %}



{#% endblock content %#}