{% extends 'base.html' %}
{% load crispy_forms_tags %}

  {% block dashboard %}
    {% include 'leave_mgt/leave_mgt.dashboard.html' %}
  {% endblock%}

{% block content %}
  <form method="POST" enctype="multipart/form-data" class="p-3 col-lg-6 col-md-12 col-sm-12 ">
    {% csrf_token %}
    <!-- this is a required line for added security -->
    <fieldset class="form-group">
      <legend class="border-bottom mb-1">Apply for a Leave</legend>
      <!-- Add the "Today" button for the start_date field -->
      <button type="button" id="todayButton">Today</button>
      {{ form|crispy }}
      <!-- pwede na tong alisin -->
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
      {% endif %}
    </fieldset>

    <small>
    <div class="form-group">
      <button class="btn btn-success" type="submit">Submit request</button>
    </div>
  </form>

<script>
document.getElementById('todayButton').addEventListener('click', function() {
    var today = new Date().toISOString().slice(0,10);
    document.getElementById('id_start_date').value = today;
    document.getElementById('id_end_date').value = today;
});
</script>


{% endblock content %}