{% extends 'base.html' %}

{% block content %}
<hr />
<div class="content-section" style="padding-top: 5em">
  <form method="POST">
    {% csrf_token %}
    <!-- this is a required line for added security -->
    <fieldset class="form-group">
      <legend class="border-bottom mb-1"><b> Delete this Announcement? </b></legend>
      <h6>You cannot undo this action.</h6>
    </fieldset>

    <div class="form-group">
      <a class="btn btn-sm btn-outline-secondary" href="/">
        No
      </a>
      <button class="btn btn-sm btn-outline-danger" type="submit">
        Yes
      </button>
    </div>
  </form>
</div>
<hr />
{% endblock content %}