<style type="text/css">
  /* Logo hover scaling */
  .navbar-nav .nav-item img {
    transition: transform 0.3s ease;
  }

  .navbar-nav .nav-item img:hover {
    transform: scale(1.2);
  }

  /* Nav link animation */
  .navbar-nav .nav-item a {
    position: relative;
    text-decoration: none;
    transition: transform 0.3s ease;
  }

  .navbar-nav .nav-item a:hover {
    transform: scale(1.1);
  }

  .navbar-nav .nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .navbar-nav .nav-item a:hover::after {
    transform: scaleX(1);
  }

  .navbar-nav .nav-item i {
    transition: transform 0.3s ease;
  }

  .navbar-nav .nav-item i:hover {
    transform: scale(1.1);
  }
</style>

<nav class="main-header navbar navbar-expand-lg navbar-white navbar-light text-sm">
  <!-- Logo -->
  <a href="/" class="nav-link d-none d-lg-block" title="Home">
    <img src="/media/defaults/jjv.png" alt="LMS Logo" class="" style="height: 70px; border-radius: 10%;">
  </a>

  <!-- Left Links -->
  <ul class="navbar-nav">
    <li class="nav-item d-none d-lg-block">
      <a href="/assistance" class="nav-link">Assistance</a>
    </li>
    
    <li class="nav-item dropdown d-none d-lg-block">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Downloadable Forms</a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        {% for form in downloadableforms %}
        <div class="dropdown-divider"></div>
        <a href="{{ form.file.url }}" class="dropdown-item" title="(Last updated on: {{ form.uploaded_on|date:'Y-m-d H:i' }})">
          <i class="fas fa-file mr-2"></i> {{ form.title }}
        </a>
        {% endfor %}
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All Forms</a>
      </div>
    </li>

    <li class="nav-item d-none d-lg-block">
      <a href="/orgchart" class="nav-link">Org Chart</a>
    </li>
  </ul>

  <!-- Search -->
  <form class="form-inline ml-3 d-none d-lg-block" action="{% url 'search' %}" method="get">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" name="q" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>

  <!-- Right Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item d-none d-lg-block">
      <form class="form-inline" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" name="username" class="form-control" placeholder="Username" required>
          <input type="password" name="password" class="form-control" placeholder="Password" required>
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>
      </form>
    </li>
  </ul>
  <ul class="navbar-nav mx-1">
    <li class=" d-none d-lg-block">
      <a href="/register">
        <button type="#" class="btn btn-success">
          Register
        </button>
      </a>
    </li>
  </ul>
</nav>

<!-- Small screen version -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light text-sm d-lg-none">
  <!-- JJV logo as dropdown toggle -->
  <ul class="navbar-nav">
    
    <li class="nav-link dropdown">
      <a class="" data-toggle="dropdown" href="#" title="Menu">
        <img src="/media/defaults/jjv.png" alt="LMS Logo" class="" style="height: 60px; border-radius: 10%;">
      </a>
      
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left p-2" style="width: 250px;">
        <a href="/" class="dropdown-item">
          <i class="fas fa-home mr-2"></i> Home
        </a>
        <a href="/assistance" class="dropdown-item">
          <i class="fa fa-handshake mr-2"></i> Assistance
        </a>
        <a href="/orgchart" class="dropdown-item">
          <i class="fa fa-sitemap mr-2"></i> Org Chart
        </a>
      </div>
    </li>
  </ul>

  <!-- Downloadable Forms in its own dropdown -->
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#" title="Downloadable Forms">
        <i class="fab fa-wpforms"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
        <span class="dropdown-header">Downloadable Forms</span>
        {% for form in downloadableforms %}
        <div class="dropdown-divider"></div>
        <a href="{{ form.file.url }}" class="dropdown-item" title="Updated {{ form.uploaded_on|date:'Y-m-d H:i' }}">
          <i class="fas fa-file mr-2"></i> {{ form.title }}
        </a>
        {% endfor %}
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All</a>
      </div>
    </li>
  </ul>

  <!-- Search bar -->
  <form class="form-inline col-4 ml-auto" action="{% url 'search' %}" method="get">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" name="q" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>

  <!-- Sign in -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="/login" class="nav-link" title="Sign In">
        <i class="fa fa-signature"></i>
      </a>
    </li>
  </ul>
</nav>


