<nav class="main-header navbar navbar-expand-lg navbar-white navbar-light gov-primary-nav gov-main-nav">
  <a href="{% url 'unauthedhome' %}" class="navbar-brand gov-institution-brand" aria-label="{{ site_configuration.institution_name }} home">
    <img src="{{ site_configuration.logo_url }}" alt="{{ site_configuration.institution_name }} seal or logo" class="gov-brand-logo gov-brand-logo-md">
    <span class="gov-brand-copy d-none d-sm-flex">
      <strong>{{ site_configuration.institution_name }}</strong>
      <small>{{ site_configuration.portal_label }}</small>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#publicNavigation" aria-controls="publicNavigation" aria-expanded="false" aria-label="Open navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="publicNavigation">
    <ul class="navbar-nav ml-lg-4">
      <li class="nav-item"><a class="nav-link" href="{% url 'unauthedhome' %}#services"><i class="fas fa-th-large mr-1"></i> Services</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'announcements-list' %}"><i class="fas fa-bullhorn mr-1"></i> Announcements</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'unauthedhome' %}#contact-us"><i class="fas fa-building mr-1"></i> Offices</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'orgchart' %}"><i class="fas fa-sitemap mr-1"></i> Organization</a></li>
    </ul>
    <ul class="navbar-nav ml-auto align-items-lg-center">
      {% if request.user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'department_dashboard' %}" class="btn btn-primary gov-nav-action"><i class="fas fa-columns mr-1"></i> My workspace</a></li>
      {% else %}
        <li class="nav-item"><a href="{% url 'login' %}" class="btn btn-outline-primary gov-nav-action"><i class="fas fa-lock mr-1"></i> Employee sign in</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
